* {
  box-sizing: border-box; }
  *::after, *::before {
    box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-main);
  font-size: 16px;
  line-height: 1.125em; }

img {
  display: block;
  max-width: 100%;
  width: 100%; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-primary); }

a {
  text-decoration: none;
  transition: .3s all ease-in-out; }

.img-project {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  width: 100%;
  z-index: -1; }

.icon-default {
  --size-base: 30px;
  height: var(--size-base);
  width: var(--size-base);
  display: flex;
  justify-content: center;
  align-items: center; }
  .icon-default * {
    --size-element: 21px;
    font-size: var(--size-element);
    max-height: var(--size-element);
    max-width: var(--size-element);
    height: 100%;
    width: 100%;
    object-position: center;
    object-fit: contain; }

:root {
  --font-main: 'Open Sans', sans-serif;
  --font-primary: 'Manjari', sans-serif;
  --color-main: 165, 209, 62; }

.container-p {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 14px;
  display: flex;
  justify-content: flex-start;
  align-items: stretch; }

.button-primary,
.button-alternate {
  --size-button: 30px;
  min-width: 150px;
  min-height: var(--size-button);
  border-radius: calc(var(--size-button) / 2);
  border: none;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.21);
  font-weight: 700;
  margin-bottom: 7px;
  transition: .3s box-shadow ease-in-out, .3s background-color ease-in-out, .3s color ease-in-out; }
  .button-primary:hover,
  .button-alternate:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    cursor: pointer; }

.button-primary {
  background-color: rgba(var(--color-main), 1);
  color: white; }
  .button-primary:hover {
    color: rgba(var(--color-main), 1);
    background-color: white; }

.button-alternate {
  background-color: white;
  color: rgba(var(--color-main), 1); }
  .button-alternate:hover {
    color: white;
    background-color: rgba(var(--color-main), 1); }

.project-banner {
  position: relative;
  height: 72vh;
  margin-bottom: 70px; }
  .project-banner--header {
    background: rgba(0, 0, 0, 0.35);
    color: white;
    padding: 14px 0; }
    .project-banner--header-logo {
      border-left: 3px solid rgba(var(--color-main), 1);
      font-weight: 700;
      padding: .2em .7em; }
    .project-banner--header-nav {
      flex: 0 0 40%; }
    .project-banner--header .container-p {
      justify-content: space-around; }
  .project-banner--background {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    display: flex; }
    .project-banner--background img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: 1; }
    .project-banner--background-content {
      margin: auto;
      z-index: 2;
      text-align: center;
      color: white;
      text-transform: uppercase;
      text-shadow: 0 3px 6px rgba(0, 0, 0, 0.35); }
      .project-banner--background-content span {
        font-family: var(--font-primary);
        font-size: 90px;
        letter-spacing: 24px;
        font-weight: 300;
        margin-bottom: 21px;
        height: 64px;
        display: block; }
      .project-banner--background-content p {
        margin: 0;
        font-size: 13px;
        font-weight: 700;
        letter-spacing: .3em; }
    .project-banner--background::before, .project-banner--background::after {
      content: '';
      position: absolute;
      width: 50%;
      left: 0;
      bottom: 0px;
      height: 60px;
      z-index: 2;
      background: white;
      transform: skewY(5deg);
      transform-origin: left; }
    .project-banner--background::after {
      transform: skewY(-5deg);
      right: 0;
      left: initial;
      transform-origin: right; }
    .project-banner--background-detail {
      --size: 35px;
      font-family: var(--font-primary);
      background: white;
      position: absolute;
      left: 50%;
      bottom: calc((var(--size) - (var(--size) *2)) / 2);
      transform: translateX(-50%);
      z-index: 3;
      height: var(--size);
      width: var(--size);
      border-radius: 50%;
      display: flex;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.35); }
      .project-banner--background-detail span {
        margin: auto;
        color: white;
        text-shadow: 0 3px 6px rgba(0, 0, 0, 0.49), 0 -3px 6px rgba(0, 0, 0, 0.49);
        height: 14px;
        font-weight: 900; }

.header-nav--list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  color: white;
  list-style: none; }
  .header-nav--list li:hover a {
    color: rgba(var(--color-main), 1); }
  .header-nav--list a {
    color: currentColor;
    font-size: 11px;
    font-weight: 700;
    display: block;
    padding: .5em;
    text-align: center; }

/**
* Section Skills
*/
.section-skills {
  perspective: 1000px;
  margin-bottom: 70px; }
  .section-skills--item {
    text-align: center;
    font-size: 13px;
    padding: 14px 21px;
    margin: 0 14px;
    user-select: none;
    transform-origin: top left;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: .2s color ease-in-out, .2s background-color ease-in-out, .3s transform ease-in-out; }
    .section-skills--item-icon {
      color: rgba(var(--color-main), 1);
      margin-bottom: 14px;
      transition: color .3s ease-in-out; }
    .section-skills--item-title {
      font-weight: 700;
      font-size: 14px; }
    .section-skills--item:hover {
      box-shadow: 0 5px 6px rgba(0, 0, 0, 0.16);
      transform: rotateX(10deg);
      background-color: rgba(var(--color-main), 1);
      color: white; }
      .section-skills--item:hover .section-skills--item-icon {
        color: white; }

/**
* Section Gallery
*/
.section-gallery {
  margin-bottom: 70px; }
  .section-gallery--header {
    text-align: center;
    font-size: 12px;
    margin-bottom: 21px;
    flex: 0 0 100%; }
    .section-gallery--header h2 {
      font-size: 21px;
      margin-top: 0;
      margin-bottom: 0;
      line-height: 1.125em; }
  .section-gallery--container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch; }
    .section-gallery--container-item {
      --num-items: 5;
      flex: 0 0 calc(100% / var(--num-items));
      height: 150px;
      perspective: 1200px;
      position: relative;
      overflow: hidden; }
      .section-gallery--container-item img {
        height: 100%;
        object-fit: cover;
        transition: .7s object-position ease-in-out; }
      .section-gallery--container-item:hover .container-item--content {
        transform: rotateX(0deg);
        background: rgba(var(--color-main), 0.77); }
      .section-gallery--container-item:hover img {
        object-position: bottom; }

.container-item--content {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 700;
  user-select: none;
  transform: rotateX(-90deg);
  transform-origin: bottom left;
  transition: .2s transform ease-in-out, .2s background ease-in-out;
  position: absolute;
  width: 100%;
  height: 100%; }

/**
* Section Openwork
*/
.section-openwork {
  margin-bottom: 35px; }
  .section-openwork--image, .section-openwork--content {
    flex: 0 0 50%; }
  .section-openwork--image {
    display: flex;
    justify-content: flex-end;
    padding: 0 35px; }
    .section-openwork--image img {
      width: 69%; }
  .section-openwork--content {
    padding: 42px 0;
    font-size: 13px; }
    .section-openwork--content-text {
      width: 69%; }
      .section-openwork--content-text h3 {
        margin: 0 0 21px 0;
        border-left: 5px solid rgba(var(--color-main), 1);
        padding: 7px 14px;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.125em; }

/**
* Section Form
*/
.section-form {
  background-image: url("../../assets/img/backgrounds/banner-form.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  padding: 56px 0 77px;
  position: relative;
  z-index: 1; }
  .section-form::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.21);
    z-index: -1; }
  .section-form .container-p {
    flex-wrap: wrap; }
  .section-form--header, .section-form--content {
    flex: 0 0 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center; }
  .section-form--header {
    color: white;
    margin-bottom: 42px; }
    .section-form--header h2 {
      line-height: 1.125em;
      margin: 0;
      font-size: 21px; }
    .section-form--header span {
      font-size: 12px; }
  .section-form--content form {
    --size-input: 36px;
    display: flex;
    align-items: stretch; }
    .section-form--content form .form-group {
      display: inline-block;
      position: relative; }
      .section-form--content form .form-group .detail-input {
        --size-element: 3px;
        height: var(--size-element);
        width: 35px;
        background-color: white;
        position: absolute;
        left: 21px;
        top: 0; }
        .section-form--content form .form-group .detail-input::before, .section-form--content form .form-group .detail-input::after {
          --size-element: 3px;
          content: '';
          height: var(--size-element);
          width: var(--size-element);
          background-color: rgba(var(--color-main), 1);
          position: absolute;
          left: calc((var(--size-element) / 2) - var(--size-element));
          border-radius: 50%; }
        .section-form--content form .form-group .detail-input::after {
          left: initial;
          right: calc((var(--size-element) / 2) - var(--size-element)); }
    .section-form--content form input {
      min-height: var(--size-input);
      border-radius: calc(var(--size-input) / 2);
      border: none;
      margin: 0 3px;
      border: 3px solid rgba(var(--color-main), 1); }
    .section-form--content form button {
      --size-button: 36px;
      margin-bottom: 0; }

/**
* Section Statistics
*/
.statistics-section {
  font-size: 12px;
  padding: 56px 0; }
  .statistics-section .container-p {
    width: 900px; }
  .statistics-section--item {
    flex: 0 0 calc(100% / 3);
    padding: 0 15px; }
    .statistics-section--item h4 {
      font-size: 18px;
      border-left: 4px solid rgba(var(--color-main), 1);
      line-height: 1.125em;
      padding: 7px 0 0 10px;
      margin: 0 0 21px;
      text-transform: capitalize; }
    .statistics-section--item p {
      margin-bottom: 28px; }
    .statistics-section--item-list {
      margin-bottom: 7px; }
      .statistics-section--item-list span:first-child {
        color: rgba(var(--color-main), 1);
        margin-right: 7px;
        font-size: 18px; }
    .statistics-section--item-skills {
      margin-bottom: 14px; }
      .statistics-section--item-skills:nth-child(2) .item-skills--bar-progress, .statistics-section--item-skills:nth-child(3) .item-skills--bar-progress, .statistics-section--item-skills:nth-child(4) .item-skills--bar-progress {
        background: rgba(var(--color-main), 1);
        height: 4px; }
      .statistics-section--item-skills:nth-child(2) .item-skills--bar-progress {
        width: 90%; }
      .statistics-section--item-skills:nth-child(3) .item-skills--bar-progress {
        width: 90%; }
      .statistics-section--item-skills:nth-child(4) .item-skills--bar-progress {
        width: 70%; }

.item-skills--description {
  display: flex;
  justify-content: space-between;
  font-size: 11px;
  margin-bottom: 5px;
  font-weight: 700; }
.item-skills--bar {
  height: 4px;
  background: rgba(0, 0, 0, 0.16); }

/**
* Section Pricing
*/
.pricing-section {
  background-color: rgba(0, 0, 0, 0.05);
  padding: 56px 0; }
  .pricing-section--container {
    display: flex;
    max-width: 700px;
    margin: 0 auto; }
  .pricing-section--card {
    background-color: white;
    margin: 0 14px;
    padding: 35px;
    text-align: center;
    font-family: var(--font-main);
    font-size: 13px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.35);
    transition: .3s background-color ease-in-out, .3s color ease-in-out, .3s box-shadow ease-in-out; }
    .pricing-section--card-title {
      margin-bottom: 35px; }
      .pricing-section--card-title h2 {
        font-size: 18px;
        font-weight: 700;
        letter-spacing: 2px;
        margin: 0; }
    .pricing-section--card-price {
      --size-element: 70px;
      height: var(--size-element);
      width: var(--size-element);
      box-shadow: -3px 3px 10px rgba(0, 0, 0, 0.49);
      border-radius: calc(var(--size-element) / 2);
      margin: 0 auto 35px;
      background-color: rgba(var(--color-main), 1);
      color: white;
      font-size: 21px;
      display: flex;
      justify-content: center;
      align-items: center; }
    .pricing-section--card-list {
      list-style: none;
      padding: 0;
      font-weight: 600;
      margin-bottom: 35px; }
      .pricing-section--card-list li {
        margin-bottom: 3px; }
    .pricing-section--card:hover, .pricing-section--card.outstanding {
      background-color: rgba(var(--color-main), 1);
      color: white;
      box-shadow: 0 3px 7px rgba(0, 0, 0, 0.35); }
      .pricing-section--card:hover .pricing-section--card-price, .pricing-section--card:hover .button-primary, .pricing-section--card.outstanding .pricing-section--card-price, .pricing-section--card.outstanding .button-primary {
        background-color: white;
        color: rgba(var(--color-main), 1); }

/**
* Section customers
*/
.customers-section {
  padding: 21px 0; }
  .customers-section--list {
    display: flex;
    justify-content: center;
    align-items: stretch;
    max-width: 750px;
    margin: 0 auto; }
    .customers-section--list-item {
      margin: 0 21px; }
      .customers-section--list-item img {
        height: 100%;
        object-fit: contain;
        filter: grayscale(1);
        transition: .3s filter ease-in-out; }
      .customers-section--list-item:hover img {
        filter: grayscale(0); }

/**
* Section Footer
*/
.footer {
  color: white;
  padding: 49px 0;
  font-size: 12px;
  background-image: url("../../assets/img/backgrounds/banner-form.jpg");
  background-position: center 100px;
  background-size: cover;
  background-attachment: fixed; }
  .footer-container {
    max-width: 850px;
    justify-content: space-between; }
    .footer-container--item {
      flex: 0 0 calc((100% - 8%) / 3); }
      .footer-container--item h4 {
        font-size: 18px;
        border-left: 4px solid rgba(var(--color-main), 1);
        line-height: 1.125em;
        padding: 7px 0 0 10px;
        margin: 0 0 21px;
        text-transform: capitalize; }
      .footer-container--item-calls {
        display: flex;
        align-items: flex-end; }
      .footer-container--item-gallery {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 7px; }

.item-calls--social {
  display: flex;
  font-size: 15px; }
  .item-calls--social span {
    margin: 0 5px; }
.item-calls--buttons button:last-child {
  margin-bottom: 0; }
.item-list--container {
  margin-bottom: 10px; }
  .item-list--container span:first-child {
    margin-right: 7px; }
.item-gallery--container {
  height: 45px; }
  .item-gallery--container img {
    height: 100%;
    object-fit: cover;
    transition: .3s transform ease-in-out, .3s object-position ease-in-out; }
    .item-gallery--container img:hover {
      transform: scale(1.125);
      object-position: left; }

/*# sourceMappingURL=main.css.map */
