:root {
    --font-main: 'Open Sans', sans-serif;
    --font-primary: 'Manjari', sans-serif;

    --color-main: 165, 209, 62;
}

.container-p {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 14px;

    display: flex;
    justify-content: flex-start;
    align-items: stretch;
}

.button-primary {
    --size-button: 30px;
    min-width: 150px;
    color: white;
    background: rgba(var(--color-main), 1);
    min-height: var(--size-button);
    border-radius: calc(var(--size-button) / 2);
    border: none;
}