@import '_init-reset.scss';
@import '_variables.scss';

.project-banner {
    position: relative;
    height: 72vh;
    margin-bottom: 70px;

    &--header {
        background: rgba(0, 0, 0, .35);
        color: white;
        padding: 14px 0;

        &-logo {
            border-left: 3px solid rgba(var(--color-main), 1);
            font-weight: 700;
            padding: .2em .7em;
        }

        &-nav {
            flex: 0 0 40%;
        }

        & .container-p {
            justify-content: space-around;
        }
    }

    &--background {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -1;

        display: flex;

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: 1;
        }

        &-content {
            margin: auto;
            z-index: 2;
            text-align: center;
            color: white;
            text-transform: uppercase;
            text-shadow: 0 3px 6px rgba(0, 0, 0, .35);

            span {
                font-family: var(--font-primary);
                font-size: 90px;
                letter-spacing: 24px;
                font-weight: 300;
                margin-bottom: 21px;
                height: 64px;
                display: block;
            }

            p {
                margin: 0;
                font-size: 13px;
                font-weight: 700;
                letter-spacing: .3em;
            }
        }

        &::before,
        &::after {
            content: '';
            position: absolute;
            width: 50%;
            left: 0;
            bottom: 0px;
            height: 60px;
            z-index: 2;
            background: white;
            transform: skewY(5deg);
            transform-origin: left;
        }

        &::after {
            transform: skewY(-5deg);
            right: 0;
            left: initial;
            transform-origin: right;
        }

        &-detail {
            --size: 35px;
            font-family: var(--font-primary);
            background: white;
            position: absolute;
            left: 50%;
            bottom: calc( (var(--size) - (var(--size) *2 )) / 2 );
            transform: translateX(-50%);
            z-index: 3;
            height: var(--size);
            width: var(--size);
            border-radius: 50%;
            display: flex;
            box-shadow: 0 3px 6px rgba(0, 0, 0, .35);

            span {
                margin: auto;
                color: white;
                text-shadow: 0 3px 6px rgba(0, 0, 0, .49), 0 -3px 6px rgba(0, 0, 0, .49);
                height: 14px;
                font-weight: 900;
            }
        }
    }
}

.header-nav {

    &--list {
        display: flex;
        justify-content: space-between;
        padding: 0;
        margin: 0;
        text-transform: uppercase;
        color: white;
        list-style: none;

        li:hover {
            a {
                color: rgba(var(--color-main), 1);
            }
        }

        a {
            color: currentColor;
            font-size: 11px;
            font-weight: 700;
            display: block;
            padding: .5em;
            text-align: center;
        }
    }
}

/**
* Section Skills
*/

.section-skills {
    perspective: 1000px;
    margin-bottom: 70px;

    &--item {
        text-align: center;
        font-size: 13px;
        padding: 14px 21px;
        margin: 0 14px;
        user-select: none;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        transition: .2s color ease-in-out,
                    .2s background ease-in-out,
                    .3s transform ease-in-out;

        &-icon {
            color: rgba(var(--color-main), 1);
            margin-bottom: 14px;
            transition: color .3s ease-in-out;
        }

        &-title {
            font-weight: 700;
            font-size: 14px;
        }

        &:hover {
            box-shadow: 0 5px 6px rgba(0, 0, 0, .16);
            transform: rotateX(10deg);
            transform-origin: top left;
            background: rgba(var(--color-main), 1);
            color: white;

            & .section-skills--item-icon {
                color: white;
            }
        }
    }
}

/**
* Section Gallery
*/

.section-gallery {
    margin-bottom: 70px;

    &--header {
        text-align: center;
        font-size: 12px;
        margin-bottom: 21px;
        flex: 0 0 100%;

        & h2 {
            font-size: 21px;
            margin-top: 0;
            margin-bottom: 0;
            line-height: 1.125em;
        }
    }

    &--container {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: stretch;

        &-item {
            --num-items: 5;
            flex: 0 0 calc(100% / var(--num-items));
            height: 150px;
            perspective: 1200px;
            position: relative;
            overflow: hidden;

            & img {
                height: 100%;
                object-fit: cover;
            }

            &:hover .container-item--content {
                transform: rotateX(0deg);
                background: rgba(var(--color-main), .77);
            }
        }
    }
}

.container-item {
    
    &--content {
        display: flex;
        justify-content: center;
        align-items: center;

        color: white;
        font-weight: 700;
        user-select: none;

        transform: rotateX(-90deg);
        transform-origin: bottom left;
        transition: .2s transform ease-in-out,
                    .2s background ease-in-out;

        position: absolute;
        width: 100%;
        height: 100%;
    }
}

/**
* Section Openwork
*/

.section-openwork {
    margin-bottom: 35px;

    &--image,
    &--content {
        flex: 0 0 50%;
    }

    &--image {
        display: flex;
        justify-content: flex-end;

        padding: 0 35px;

        & img {
            width: 69%;
        }
    }

    &--content {
        padding: 42px 0;
        font-size: 13px;

        &-text {
            width: 69%;

            & h3 {
                margin: 0 0 21px 0;
                border-left: 5px solid rgba(var(--color-main), 1);
                padding: 7px 14px;
                font-weight: 700;
                font-size: 18px;
                line-height: 1.125em;
            }
        }

    }
}

/**
* Section Form
*/

.section-form {
    background-image: url("../../assets/img/backgrounds/banner-form.jpg");
    background-size: cover;
    background-position: center;
    padding: 56px 0 77px;
    position: relative;
    z-index: 1;

    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, .21);
        z-index: -1;
    }

    & .container-p {
        flex-wrap: wrap;
    }

    &--header,
    &--content {
        flex: 0 0 100%;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    &--header {
        color: white;
        margin-bottom: 42px;

        & h2 {
            line-height: 1.125em;
            margin: 0;
            font-size: 21px;
        }

        & span {
            font-size: 12px;
        }
    }

    &--content {

        form {
            --size-input: 30px;

            input{
                min-height: var(--size-input);
                border-radius: calc(var(--size-input) / 2);
                border: none;
                margin: 0 3px;
            }
        }
    }
}

/**
* Section Statistics
*/

.statistics-section {
    font-size: 13px;
    padding: 70px 0 70px 0;

    .container-p {
        width: 900px;
    }

    &--item {
        flex: 0 0 calc(100% / 3);
        padding: 0 15px;

        h4 {
            font-size: 18px;
            border-left: 4px solid rgba(var(--color-main), 1);
            line-height: 1.125em;
            padding: 7px 0 0 10px;
            margin: 0 0 21px;
            text-transform: capitalize;
        }

        p {
            margin-bottom: 28px;
        }

        &-list {
            margin-bottom: 7px;

            span:first-child {
                color: rgba(var(--color-main), 1);
                margin-right: 7px;
                font-size: 21px;
            }
        }

        &-skills {
            margin-bottom: 14px;

            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(4) {
                & .item-skills--bar-progress{
                    background: rgba(var(--color-main), 1);
                    height: 4px;
                }
            }
            
            &:nth-child(2) {
                & .item-skills--bar-progress{
                    width: 90%;
                }
            }
            &:nth-child(3) {
                & .item-skills--bar-progress{
                    width: 90%;
                }
            }
            &:nth-child(4) {
                & .item-skills--bar-progress{
                    width: 70%;
                }
            }
        }
    }
}

.item-skills {

    &--description {
        display: flex;
        justify-content: space-between;
        font-size: 11px;
        margin-bottom: 5px;
        font-weight: 700;
    }

    &--bar {
        height: 4px;
        background: rgba(0, 0, 0, .16);
    }
}